<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:versionCode="33"
	android:versionName="13_reiryuki"
	android:compileSdkVersion="33"
	android:compileSdkVersionCodename="13"
	package="com.vivo"
	platformBuildVersionCode="33"
	platformBuildVersionName="13"
	>
	<uses-sdk
		android:minSdkVersion="24"
		android:targetSdkVersion="33"
		>
	</uses-sdk>
	<original-package
		android:name="vivo"
		>
	</original-package>
	<application
		android:hasCode="true"
		android:extractNativeLibs="true"
		>
	</application>
	<permission
		android:name="android.permission.ADVANCED_WIDGET_API"
		>
	</permission>
</manifest>
